@page
@model SITConnect.Pages.Error403

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>403</title>
</head>
<body>
<div style="text-align: center;">
    <small>Forbidden</small>
    <h1>403</h1>
    <p>Login is required to view this page.</p>
    <a asp-page="Login">Login here</a>
</div>
</body>
</html>