@page
@using Microsoft.AspNetCore.Http
@using AspNetCore.ReCaptcha
@model SITConnect.Pages.Login

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Login to your Account</title>
</head>
<body>
@{
    if (Model.OtpAuthorisation != "1" && HttpContext.Session.GetString("user") != null)
    {
        <p>An OTP code has been sent to your email address. Please check it and key in the 6 digit code below to continue.</p>
        <form method="post">
            @Html.ReCaptcha()
            <recaptcha />
            <div>
                <label>
                    OTP Code
                    <input placeholder="000000" type="number" maxlength="6" asp-for="OtpCode" required/>
                </label>
            </div>
            <small class="text-danger">@Model.ErrorMessage</small>
            <br/>
            <button type="submit">Proceed</button>
        </form>
        <hr/>
        <p>Expired/invalid code? Didn't received the code?</p>
        <form method="post">
            <button class="btn btn-light" type="submit" value="logout" formaction="/Logout">Re-login</button>
        </form>
    }
    else
    {
        <form method="post">
            @Html.ReCaptcha()
            <recaptcha />
            <div>
                <label>
                    Email Address
                    <input id="cust_email" placeholder="john@example.com" type="email" asp-for="Email" required/>
                </label>
            </div>
            <div>
                <label>
                    Password
                    <input id="cust_pwd" placeholder="••••••••" type="password" asp-for="Password" required/>
                </label>
            </div>
            <br/>
            <button type="submit">Log in</button>
            <small class="text-danger">@Model.ErrorMessage</small>
            <hr/>
            <p>Don't have an account yet? <a href="/Register">Register instead.</a></p>
        </form>
    }
}

</body>
</html>