@page
@model SITConnect.Pages.Login

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Login to your Account</title>
</head>
<body>
<form method="post">
    <div>
        <label>
            Email Address
            <input id="cust_email" placeholder="john@example.com" type="email" asp-for="Email" required/>
        </label>
    </div>
    <div>
        <label>
            Password
            <input id="cust_pwd" placeholder="••••••••" type="password" asp-for="Password" required/>
        </label>
    </div>
    <br/>
    <button type="submit">Log in</button>
    <small class="text-danger">@Model.ErrorMessage</small>
    <hr/>
    <p>Don't have an account yet? <a href="/Register">Register instead.</a></p>
</form>
</body>
</html>