@page
@model SITConnect.Pages.Logout

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>403</title>
</head>
<body>
<h1>See you soon</h1>
<p>Logged out successfully.</p>
<a href="/">Return home</a>
</body>
</html>